{% extends 'base.html.twig' %}

{% block title %}{{ advert.name }}{% endblock %}

{% block body %}

    <a href="{{ path('advert_index') }}">Retour à la liste des annonces</a>

    <h1>{{ advert.name }}</h1>
    <h2>Publiée le {{ advert.createdAt|date('d/m/Y à H:i') }}</h2>

    <span class="badge badge-primary">Marque: {{ advert.brand.name }}</span>
    <span class="badge badge-warning">Type d'annonce: {{ advert.type.name }}</span>

    {% if advert.bookingUser %}
        {% if advert.user.id == app.user.id %}
            <div class="alert alert-warning">
                Votre annonce a été réservée par {{ app.user.firstname }} {{ app.user.lastname }} ({{ app.user.email }}).
            </div>
        {% elseif advert.bookingUser.id == app.user.id %}
            <div class="alert alert-warning">
                <a href="{{ path('advert_book', {id: advert.id }) }}">
                    Cliquez-ici pour annuler votre réservation.
                </a>
            </div>
        {% else %}
            <div class="alert alert-danger">
                Cette annonce est déjà réservée.
            </div>
        {% endif %}
    {% else %}
        {% if advert.user.id == app.user.id %}
            <div class="alert alert-success">
                Votre annonce n'a pas encore été réservée.
            </div>
        {% else %}
            <div class="alert alert-success">
                <a href="{{ path('advert_book', {id: advert.id }) }}">
                    Cette annonce n'est pas réservée, cliquez ici pour réserver cette annonce !
                </a>
            </div>
        {% endif %}

    {% endif %}

    <p class="lead">
        {{ advert.description | default('Pas de description.') }}
    </p>

    <hr>

    {% if advert.user.id == app.user.id %}
        <div class="mb-1">
            <a class="btn btn-warning" href="{{ path('advert_edit', {'id': advert.id}) }}">Éditer</a>
        </div>

        {{ include('advert/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
